{% extends 'base.html' %}
{% block titulo %}
Good Farm - Inicio
{% endblock %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />

{% endblock %}

<body>
  {% block data_image %}
  <div class="parallax-window" data-parallax="scroll"
    data-image-src="{{ url_for('static', filename='img/pexels-ian-turnell-709567 (1).jpg' )}}">
    {% endblock %}
    <div class="container-fluid">
      {% block content %}
      {% if donacion %}
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.js"></script>
      <script>
        Swal.fire({
          title: 'Éxito',
          text: 'Hemos recibido la información de su donación. Muchas gracias.',
          icon: 'success'
        })
      </script>
      {% endif %}
      {% if pedido %}
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.min.js"></script>
      <script>
        Swal.fire({
            title: 'Éxito',
            text: 'Hemos recibido la información de su pedido. Muchas gracias.',
            icon: 'success'
        })
      </script>
      {% endif %}
      <section class="row" id="tmInicio">
        <div class="col-12 tm-inicio-container">
          <div class="tm-bg-black-transparent text-center tm-inicio-header">
            <h2 class="text-uppercase tm-inicio-page-title">Bienvenido!</h2>
            <p class="tm-inicio-description">
              Con el fin de promover la solidaridad y tratar de aprovechar los cultivos que las personas hacen
              en sus casas, evitando pérdidas por exceso de producción, se desarrolló esta aplicación
              web que permite informar la disponibilidad de frutas o verduras que se regalan. Además, se
              puede realizar un pedido de donación por si se necesita alguna fruta o verdura.
              <br><br>
              A continuación, se presenta un mapa que muestra la ubicación de las últimas donaciones y 
              pedidos realizados. El mapa permite visualizar la información básica de cada donación o pedido. 
              Para obtener más detalles, se puede acceder a nuestras pestañas "Ver donaciones" o "Ver pedidos", 
              donde se encontrará una tabla con información más detallada. Si se requiere obtener información 
              adicional sobre una solicitud en particular, basta con hacer clic en una fila específica para 
              acceder a todos los detalles disponibles de esa donación o pedido.
            </p>
          </div>
        </div>
        <div class="col-12 tm-inicio-container mb-3 mt-3">
          <div class="tm-bg-black-transparent text-center ">
            <h2 class="tm-inicio-page-title2">Las ubicaciones de las últimas 5 donaciones y pedidos</h2>
          </div>
        </div>
      </section>
      <div id="map"></div>
      {% endblock %}
    </div>
  </div>
  {%block javascript %}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <script src="{{ url_for('static', filename='js/MapIndex.js' )}}"></script>
  {% endblock %}
</body>

</html>